.Layout {
  &__header {
    border-bottom: 1px solid #e7e7e7;
    z-index: 31;
  }
}

.react-datepicker-wrapper {
  display: flex !important;
  width: 60% !important;
}

.react-datepicker-popper {
  z-index: 30 !important;
}

