$navbar-width: 250px;
$navbar-height: 3.25rem;

.Layout {
  min-width: 1200px;

  &__header {
    border-bottom: 1px solid #e7e7e7;
    z-index: 31;
  }

  &__container {
    margin-top: $navbar-height;
    margin-left: $navbar-width;
    position: relative;
    z-index: 20;
  }

  &__sidebar {
    width: $navbar-width;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e7e7e7;
    position: fixed;
    top: $navbar-height;
    left: 0;
    bottom: 0;
    padding: 20px 20px;
    overflow-y: scroll;
    transition: width 0.25s, opacity 0.25s, transform 0.25s,
      -webkit-transform 0.25s;

    &Overlay {
      position: fixed;
      top: 0;
      height: calc(100vh - #{$navbar-height});
      z-index: 99;
      display: block;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }

  &__alerts {
    max-width: 40%;
    width: 500px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
  }
}

.react-datepicker-wrapper {
  display: flex !important;
}

.react-datepicker-popper {
  z-index: 30 !important;
}

@media screen and (max-width: 1023px) {
  .Layout {
    min-width: initial;

    &__container {
      margin-left: initial;
      margin-top: 3.5rem;
    }

    &__sidebar {
      left: -$navbar-width;
      z-index: 100;
    }

    &__alerts {
      max-width: initial;
    }

    &--sidebarVisible {
      .Layout__sidebar {
        transform: translate3d($navbar-width, 0, 0);

        &Overlay {
          background-color: rgba(34, 41, 47, 0.5);
          left: 0;
          right: 0;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .metrics-box {
    flex-direction: column;
  }
}

.metrics-box {
  padding: 1.5rem 1rem;
  background: #f1f2f3;

  display: flex;
  gap: 1rem;
  .box {
    padding: 0;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));

    .level-item {
      padding: 1rem;
      &:not(:last-of-type) {
        border-right: 1px solid #f1f2f3;
      }
    }
  }
}
