@import '@fortawesome/fontawesome-free/css/all.min.css';

// Base
@import "bulma/sass/base/minireset";
@import "bulma/sass/base/generic";

// Components
@import "bulma/sass/components/dropdown";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

#root,
body,
html {
  width: 100%;
  position: relative;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

input, select, textarea, button {
  font-family: inherit;
}

code {
  font-family: 'Roboto Mono', sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
