kafka:
  clusters:
    - name: local
      bootstrapServers: localhost:9092
      zookeeper: localhost:2181
      schemaRegistry: http://localhost:8085
      ksqldbServer: http://localhost:8088
      kafkaConnect:
        - name: first
          address: http://localhost:8083
      metrics:
        port: 9997
        type: JMX
  #    -
  #      name: secondLocal
  #      bootstrapServers: localhost:9093
  #      zookeeper: localhost:2182
  #      schemaRegistry: http://localhost:18085
  #      kafkaConnect:
  #        - name: first
  #          address: http://localhost:8083
  #      metrics:
  #        port: 9998
  #        type: JMX
  #      read-only: true
  #    -
  #      name: localUsingProtobufFile
  #      bootstrapServers: localhost:9092
  #      protobufFile: messages.proto
  #      protobufMessageName: GenericMessage
  #      protobufMessageNameByTopic:
  #        input-topic: InputMessage
  #        output-topic: OutputMessage
spring:
  jmx:
    enabled: true
  security:
    oauth2:
      client:
        registration:
          cognito:
            clientId: xx
            clientSecret: yy
            scope: openid
            client-name: cognito
            provider: cognito
            redirect-uri: http://localhost:8080/login/oauth2/code/cognito
            authorization-grant-type: authorization_code
        provider:
          cognito:
            issuer-uri: https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_M7cIUn1nj
            jwk-set-uri: https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_M7cIUn1nj/.well-known/jwks.json
            user-name-attribute: username
auth:
  type: DISABLED

roles.file: /tmp/roles.yml

#server:
#  port: 8080 #- Port in which kafka-ui will run.