kafka:
  clusters:
    -
      name: local
      bootstrapServers: localhost:29091
      zookeeper: localhost:2183
    -
      name: secondLocal
      bootstrapServers: localhost:29092
      zookeeper: localhost:2182
    -
      name: localReplica
      bootstrapServers: localhost:29093
      zookeeper: localhost:2183
  admin-client-timeout: 5000
zookeeper:
  connection-timeout: 1000
